<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924109842758-akjtt68l3sb3p3tq07d9mdprnhmfu0jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924109842758-akjtt68l3sb3p3tq07d9mdprnhmfu0jj</string>
	<key>API_KEY</key>
	<string>AIzaSyDXrW_C7H-DazS988MXQA4t58M65-7_iaE</string>
	<key>GCM_SENDER_ID</key>
	<string>924109842758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lbb.payamlater</string>
	<key>PROJECT_ID</key>
	<string>payamlater-7e7b6</string>
	<key>STORAGE_BUCKET</key>
	<string>payamlater-7e7b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924109842758:ios:23eb9917a6134e242b5d47</string>
</dict>
</plist>